.under-category-container {
    margin-top: 20px;
  }
  
  .under-category-item {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .product-box {
    border: 2px solid #e7b9d2;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
  }
  
  .product-image {
    border-radius: 10px;
    max-width: 100%;
  }
  
  .product-name {
    margin-top: 10px;
    color: #333;
  }
  
  @media (min-width: 576px) {
    .under-category-item {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  
  @media (min-width: 768px) {
    .under-category-item {
      flex: 0 0 33.33%;
      max-width: 33.33%;
    }
  }
  
  @media (min-width: 992px) {
    .under-category-item {
      flex: 0 0 25%;
      max-width: 25%;
    }
  }
  