/* html, body { 
    font-family:arial; 
    margin:0px; 
    height: 100%; 
    }
    section { 
    font-size: 40px; 
    text-align: center; 
    padding: 50px; 
    height: 100%; 
    margin: 100px; 
    }
    #s1 { background: #def; }
    #s2 { background: #fde; }
    #s3 { background: #fed; }
    .s1 { background: #9bd; }
    .s2 { background: #d9b; }
    .s3 { background: #db9; } */