
  .undercategory-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .undercategory-name {
    border: 1px solid rgb(175, 6, 124);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background-color: #f07cc3;
    color: rgb(221, 188, 210);
    font-weight: bold;
  }
  /* #footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f07bb9;
    padding: 45px 0 0 0;
    z-index: 9999; 
  } */
  
  /* .undercategory-inner {
    border: 1px solid rgb(175, 6, 124);
    padding: 5px;
  } */