/* footer.css */

footer.footer-area {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f07bb9;
  z-index: 9999;
}

.footer-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 20px;
}

.footer-inner .ftr-title {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 15px;
  display: inline-block;
}

.footer-inner .app-icons img {
  max-width: 210px;
}

.footer-inner .menu {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.footer-inner .menu li {
  width: 50%;
  font-size: 16px;
  color: #fff;
  margin-bottom: 12px;
}

.footer-inner .menu li a {
  color: #fff;
  padding-right: 10px;
}

.footer-inner .menu li a:hover {
  color: #3d1032;
}

.footer-inner .categories {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.footer-inner .categories li {
  width: calc(20% - 10px);
  margin: 5px;
}

.footer-inner .categories li a {
  display: block;
  padding: 10px;
  text-align: center;
  background-color: #eee;
  color: #444;
  border-radius: 5px;
  font-size: 14px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.footer-inner .categories li a:hover {
  background-color: #40c2e5;
  color: #fff;
}

.footer-bottom {
  text-align: center;
  color: #8b3384;
  font-size: 14px;
  margin-top: 15px;
  display: inline-block;
  width: 100%;
  border-top: #aac0dd 1px solid;
  padding: 12px 0;
}

.footer-bottom a {
  color: #fff;
}

.footer-bottom a:hover {
  color: #8b3384;
}

.social-media {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-top: 10px;
}

.social-media li {
  margin: 0px 5px;
}

.social-media li:first-child {
  margin-left: 0px;
}

.social-media li a {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #8b3384;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.social-media li a img {
  max-width: 22px;
  filter: brightness(0) invert(1);
}

.social-media li a:hover img {
  opacity: 0.8;
}

.single-subscribe-inner form {
  display: flex;
  flex-wrap: wrap;
}

.single-subscribe-inner input[type="email"] {
  outline: none;
  font-family: "Poppins", sans-serif;
  width: calc(100% - 150px);
  background: #ffffff;
  border-radius: 8px 0px 0px 8px;
  border: none;
  color: #b1b1b1;
  font-size: 16px;
  padding: 15px 20px;
}

.single-subscribe-inner input[type="submit"] {
  font-family: "Poppins", sans-serif;
  border: none;
  background: #8b3384 !important;
  border-radius: 0px 8px 8px 0px;
  padding: 0px;
  font-size: 18px;
  color: #fff !important;
  font-weight: 600;
  padding: 15px 28px;
  cursor: pointer;
  outline: none !important;
}

.createby {
  color: #fff;
}

/* Responsive Styles */

@media (max-width: 1260px) {
  .footer-inner .ftr-title {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .footer-inner .app-icons a {
    display: inline-block;
    max-width: 49%;
  }

  .footer-inner .ftr-title {
    font-size: 14px;
  }

  .footer-inner .categories li {
    width: calc(33.33% - 10px);
  }

  .single-subscribe-inner input[type="email"] {
    width: calc(100% - 120px);
  }
}
